[project]
	description = Gradle Escrow Build
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bszeliga (bszeliga)
[access "refs/for/refs/*"]
	read = group user/bszeliga (bszeliga)
	push = group user/bszeliga (bszeliga)
	label-Code-Review = -2..+2 group user/bszeliga (bszeliga)
	label-Verified = -1..+1 group user/bszeliga (bszeliga)
	rebase = group user/bszeliga (bszeliga)
	removeReviewer = group user/bszeliga (bszeliga)
	submit = group user/bszeliga (bszeliga)
[access "refs/heads/*"]
	read = group user/bszeliga (bszeliga)
	create = group user/bszeliga (bszeliga)
	push = +force group user/bszeliga (bszeliga)
	pushMerge = group user/bszeliga (bszeliga)
[access "refs/tags/*"]
	push = group user/bszeliga (bszeliga)
	push = +force group user/bszeliga (bszeliga)
